.item1 {
    grid-area: scoreBoard;
}

.item6 {
    grid-area: lowerThird;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "scoreBoard scoreBoard ." ". . ." "lowerThird lowerThird lowerThird";
    /* background-color: #2196F3; */
    padding: 10px;
    width: 100vw;
    height: 100vh;
}

.grid-container>div {
    /*  background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.flex-container {
    display: flex;
}

.flex-container div {
    background-color: #f1f1f1;
    height: 5rem;
}

#flexcontainer {
    background-color: #f1f1f1;
    height: 5rem;
    position: absolute;
    width: 34rem;
    margin-left: 4rem;
    top: 4rem;
}

#home-team,
#away-team {
    display: flex;
}

#img-container {
    position: relative;
    width: 3rem;
    /* top: 0;
    bottom: 0; */
    margin: auto;
}

#home-logo,
#away-logo {
    /*  position: relative; */
    /* top: 0;
    bottom: 0; */
    /* margin: auto; */
    /* justify-content: center; */
    position: relative;
    top: 20%;
    width: 3rem;
    height: 3rem;
}

#home-team-name-container,
#away-team-name-container {
    top: 0;
    bottom: 0;
    margin: auto;
    width: 6rem;
}

#home-team,
#away-team h1 {
    justify-content: center;
    color: #2e4053;
}

#score-board {
    width: 8rem;
    background-color: #2e4053;
    color: #f1f1f1;
    font-family: -apple-system, "Segoe UI Light", Ubuntu, Arial, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#score-board-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #2e4053;
    width: 100%;
    height: 50%;
    padding-top: 1.3rem;
}

h1 {
    font-family: -apple-system, "Segoe UI Light", Ubuntu, Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

#score-board h1 {
    color: #f1f1f1;
}

#score-board p {
    display: inline;
    font-size: 2rem;
}

#clock {
    display: inline-block;
    background-color: #2e4053;
    color: #f1f1f1;
    font-size: 2rem;
    width: 8rem;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes move {
    0% {
        transform: translateX( 150px)
    }
    50% {
        transform: translateX( 0)
    }
    100% {
        transform: translateX( 150px)
    }
}

.spiideo-logo {
    top: 2rem;
    /*  display: none; */
}

#spiideo-svg {
    justify-content: center;
    width: 10rem;
    height: 10rem;
    transform-origin: center center;
    transform-box: fill-box;
    animation: rotate 6s infinite 0s linear;
}

#sponsor-logo {
    position: relative;
    width: 40rem;
    height: auto;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blue;
    animation: move 1s ease;
    animation-iteration-count: infinite;
    clip-path: circle(40%);
}


/* Google font */

@import url('https://fonts.googleapis.com/css?family=Orbitron');
#wallclock {
    font-family: 'Orbitron', sans-serif;
    color: #66ff99;
    background-color: #2e4053;
    font-size: 56px;
    text-align: center;
}